@charset "utf-8";
.kakugosikku{  font-family:"Baskerville","Hiragino Kaku Gothic ProN", sans-serif;
}

body {
  font-family:"Baskerville","Hiragino Kaku Gothic ProN", sans-serif;
}
/* loadingのコード */
#loading{
  display: grid;
  place-items: center;
  background-color: #222;
  color: #fff;
  position: fixed;
  inset: 0;
  font-size: 1.5rem;
  
 .circle-spin-1 {
    --size: 24px;
    --stroke-width: calc(var(--size) / 6);
    --color: currentColor;
    --animation-timing-function: linear;
    --animation-duration: 1s;
    width: var(--size);
    height: var(--size);
    border-width: var(--stroke-width);
    border-style: solid;
    border-color: var(--color) var(--color) var(--color) transparent;
    border-radius: 50%;
    transform: rotate(0deg);
    animation: var(--animation-timing-function) var(--animation-duration) infinite circle-spin-1-animation;
  }
  
  @keyframes circle-spin-1-animation {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
}
#loading.loaded{
  opacity: 0;
  pointer-events: none;
}
/* 上に行くボタンのコード */
html{
  scroll-behavior: smooth;
}
.page_top_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  padding: 0.7em;
  text-align: center;
  background: rgba(142, 136, 136, 0.8);
  color: rgb(255, 255, 255, 0.8);
  transition: 0.3s0;  
  animation: colorChange 2s infinite alternate;


  }
  
  /* マウスオーバー時 */
  .page_top_btn:hover {
  background: rgb(180,180,180,0.8);
  color: rgba(255, 255, 255, 0.8);
  }
  
  .content.white {
  height: 500px;
  background-color: #fff;
  }
  
  .content.gray {
  height: 500px;
  background-color: #eee;
  }
.button-36 {
border: none;
display: flex;
justify-content: center;
align-items: center;
width: 70%;
margin: 0 auto;
padding: .9em 2em;
border: 1px solid #2589d0;
border-radius: 5px;
background-color: #fff;
color: #2589d0;
font-size: 1em;
}

.button-36:hover {
border: none;
background-color: #2589d0;
color: #fff;
font-weight: 600;
}


.line{
border: none;
border-bottom: 1px solid #0000008F;
width: 100%;
color: #2589d0;


}


a:hover{
color:red;
}

.imgcenter{
text-align:center;
pointer-events: none;
position:relative;
}
.imgcenter p{
position: absolute;/*重ねたい子要素にabsolute*/
top:50%;
left: 50%;
-ms-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
-webkit-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
transform: translate(-50%,-50%);/*センター寄せの修正*/
color: #fff;
font-size: 1.8rem;
}







#ac-globalfooter .ac-gf-directory-column-section-item {
display: block;
pointer-events: auto;
margin-bottom: .8em;
}                          


.float_test {
background-color:  #ffffff;    /* 背景色指定 */
float:  center;               /* 横並びにする */
margin:  0px;               /* 要素と要素の間を開ける */
padding:  50px;     
    /* 余白指定 */
}



li {
list-style: none;
}
@media screen and (min-width:500px)  { 
.items {
display: flex;
}
}

r-item03 {
.items li {
margin-right: 10px;
}
}

body {
margin: 0;
padding: 0;

}


div {
margin: 0;
padding: 0;
}



a:hover{
color:red;
}

.imgcenter{
text-align:center;
pointer-events: none;
}

#ac-globalfooter .ac-gf-directory-column-section-item {
display: block;
pointer-events: auto;
margin-bottom: .8em;
}                          


.float_test {
background-color:  #ffffff;    /* 背景色指定 */
float:  center;               /* 横並びにする */
margin:  0px;               /* 要素と要素の間を開ける */
padding:  50px;     
    /* 余白指定 */
}




li {
list-style: none;
}
@media screen and (min-width:500px)  { 
.items {
display: flex;
}

}


.items li {
margin-right: 10px;
}

body {
margin: 0;
padding: 0;

}


div {
margin: 0;
padding: 0;
}



a:hover{
color:red;
}

.imgcenter{
text-align:center;
pointer-events: none;
}


#ac-globalfooter .ac-gf-directory-column-section-item {
display: block;
pointer-events: auto;
margin-bottom: .8em;
}                          


.float_test {
background-color:  #ffffff;    /* 背景色指定 */
float:  center;               /* 横並びにする */
margin:  0px;               /* 要素と要素の間を開ける */
padding:  50px;     
    /* 余白指定 */
}




li {
list-style: none;
}
@media screen and (min-width:500px)  { 
.items {
display: flex;
}

}

.items li {
margin-right: 10px;
}

body {
margin: 0;
padding: 0;
}


div {
margin: 0;
padding: 0;
}



a:hover{
color:red;
}

.imgcenter{
text-align:center;
pointer-events: none;
}


#ac-globalfooter .ac-gf-directory-column-section-item {
display: block;
pointer-events: auto;
margin-bottom: .8em;
}                          


.float_test {
background-color:  #ffffff;    /* 背景色指定 */
float:  center;               /* 横並びにする */
margin:  0px;               /* 要素と要素の間を開ける */
padding:  50px;     
    /* 余白指定 */
}

/* フッター */
footer {
    background-color: darkgreen;
    color: whitesmoke;
    
  }
  
  .footer-menu {
    height: 60px;
  }
  
  .footer-menu-list {
    list-style: none;
    text-align: center;
    line-height: 60px;
  }
  
  .footer-menu-list li {
    margin: 10px;
    display: inline;
    color: #ffffff;
    font-weight: bold;
  }

  .footer-menu-list li:hover {
    margin: 10px;
    display: inline;
    color: red;
    font-weight: bold;
  }

  .copyright {
    text-align: center;
  }



/* ヘッダー */

.header{
width: 100%;
height: 100vh;
background-image: url("./img/yamaguchi_17_1.jpg");
background-position: center;
background-size: cover;
}

nav{
width: 100%;
padding: 20px 0;
text-align: center;

}

.header-logo{
width: 100%;
margin: 0 auto 20px auto;
cursor: pointer;
font-size: 3rem;
font-weight: 450;
}

nav ul{
background: #000;
}

nav ul li{
display: inline-block;
list-style: none;
margin: 20px 30px;
}

nav ul li a{
text-decoration: none;
color: white;
}



